@import '../../../variables.scss';

.social-media-button {
	border-radius: 50%;
	height: 60px;
	width: 60px;
	padding: 15px;
	background-color: $bg-color-shade-dark;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
	margin: 20px;
	display: flex;
	justify-content: center;
	align-items:center;
	img {
		width: 85%;
		height: 85%;
	}
}

.social-media-button::hover {
	cursor:pointer;
}