@import '../../../../variables.scss';

.tertiary-button {
	color: $white-shade;
	text-decoration: underline;
	font-size: $font-size-small-lg;
}

.tertiary-button:hover {
	color: $secondary-color;
}

.tertiary-button:active {
	color: $secondary-color;
	text-decoration: none;
}

// small screen
@media only screen and (min-width : $breakpoint-xsm) and (max-width : $breakpoint) {
}


// extra small screen
@media only screen and (max-width : $breakpoint-xsm) {
	.tertiary-button {
		color: $white-shade;
		text-decoration: underline;
		font-size: 12px;
	}
}