@import '../../../../variables.scss';

.tertiary-button {
	color: $white-shade;
	text-decoration: underline;
	font-size: $font-size-small-lg;
}

.tertiary-button:hover {
	color: $secondary-color;
}

.tertiary-button:active {
	color: $secondary-color;
	text-decoration: none;
}