@import '../../../variables.scss';

.menu {
	display:none;
	margin-top: 12px;
	padding: 4px 8px;
	background-color: $bg-color-shade-dark;
	border-radius: $radius-lg;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	.menu__actions {

		.menu-actions__button {
			display: block;
			margin: 6px 0;
			text-decoration: none;
			font-family: 'Poppins';
			font-weight: 300;
			color: $white;
			font-size: 18px;
			padding: 4px 8px;
			border-radius: 4px;
		}

		.menu-actions__button:hover {
			background-color: $bg-color-shade-light;
		}
	}

	.menu__divider {
		height: 1px;
		width: 100%;
		background-color: $bg-color;
		margin: 4px 0;
	}

	.menu__notifications {
		max-height: 200px;
		overflow: scroll;
		overflow-x: hidden;
		scroll-padding-bottom: none;
		width: 100%;
		border-radius: 3px;
		.notification {
			width: 100%;
			display: flex;
			padding: 10px;
			img {
				width: 50px;
				height: 50px;
				border-radius: 3px;
			}
			.notification__content {
				width: 100%;
				margin-left: 8px;
				font-size: 12px;
			}
		}
		.notification:hover {
			background-color: $bg-color-shade-light;
		}
	}
}

#menu-right {
	display: block;
}

.menu-top--show {
	display:block;
}


// small screen
@media only screen and (min-width : $breakpoint-xsm) and (max-width : $breakpoint) {
	.menu {
		margin-top: 12px;
		padding: 4px 8px;
		.menu__actions {
			.menu-actions__button {
				margin: 2px 0;
				font-size: 16px;
				padding: 2px 8px;
				border-radius: 4px;
			}
	
			.menu-actions__button:hover {
			}
		}
		.menu__divider {
		}
	}
}


// extra small screen
@media only screen and (max-width : $breakpoint-xsm) {
}