@import '../../variables.scss';

.posts-container {
	grid-column: span 4;

	.loading-text {
		display: flex;
		flex-direction: column;
		align-items:center;
		border-top: 2px solid $bg-color-shade-dark;
		p {
			color: $bg-color-shade-light;
			font-weight: 400;
			text-align: center;
			padding: 20px;
		}
		img {
			width: 20px;

			animation: rotating 2s cubic-bezier(0.5, 0, 0, 0.6);
    		animation-iteration-count: infinite;
		}
	}
}

@keyframes rotating {
	from {
	  -ms-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	to {
	  -ms-transform: rotate(360deg);
	  -moz-transform: rotate(360deg);
	  -webkit-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }


// small screen
@media only screen and (min-width : $breakpoint-xsm) and (max-width : $breakpoint) {
	.posts-container {
		grid-column: span 6;
	}
}


// extra small screen
@media only screen and (max-width : $breakpoint-xsm) {
	.posts-container {
		grid-column: span 6;
	}
}