@import '../../variables.scss';

.page__main-container {
	grid-column: span 6;
    display: grid;
	grid-template-columns: repeat(6, 1fr);
	column-gap: 20px;

	.posts-container {
		grid-column: span 4;
		.loading-text {
			display: flex;
			flex-direction: column;
			align-items:center;
			border-top: 2px solid $bg-color-shade-dark;
			p {
				color: $bg-color-shade-light;
				font-weight: 400;
				text-align: center;
				padding: 20px;
			}
			img {
				width: 20px;
	
				animation: rotating 2s cubic-bezier(0.5, 0, 0, 0.6);
				animation-iteration-count: infinite;
			}
		}
	}

	.aside-container {
		grid-column: span 2;
		margin-top: 10px;
	}

	.aside-container--top {
		display: none;	
	}

	.aside-container--right {
		display: block;
	}
}



@keyframes rotating {
	from {
	  -ms-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -webkit-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	to {
	  -ms-transform: rotate(360deg);
	  -moz-transform: rotate(360deg);
	  -webkit-transform: rotate(360deg);
	  -o-transform: rotate(360deg);
	  transform: rotate(360deg);
	}
  }


// small screen
@media only screen and (min-width : $breakpoint-xsm) and (max-width : $breakpoint) {
	.page__main-container {
		.posts-container {
			grid-column: span 6;
		}

		.aside-container--top {
			display: block;
			// grid-column-start: 2;
			// grid-column-end: 6;
			grid-column: span 6;
		}
	
		.aside-container--right {
			display: none;
		}
	}	
}


// extra small screen
@media only screen and (max-width : $breakpoint-xsm) {
	.page__main-container {
		.posts-container {
			grid-column: span 6;
		}

		.aside-container--top {
			display: block;
			grid-column: span 6;
		}
	
		.aside-container--right {
			display: none;
		}
	}
}