@import '../../variables.scss';

.page__new-post {
	grid-column: span 6;
    display: grid;
	grid-template-columns: repeat(6, 1fr);
	column-gap: 20px;

	h1 {
		margin-bottom: 60px;
	}

	.post-form-container {
		grid-column: span 4;

		.post-form-container__assignment-section {

			.assignment-section__course, .assignment-section__assignment {
				grid-column: span 2;
				margin-top: 20px;

				.course-input-create-form, .assignment-input-create-form {
					display: none;
					flex-direction: column;
					padding: 10px;
					input, select {
						background-color: transparent;
						border:none;
						border-bottom: 1px solid $bg-color-shade-light; 
						height: 30px;
						margin-bottom: 15px;
						color: $white-shade;
						font-family: 'Poppins';
						font-size: 16px;
					}
					input::-webkit-input-placeholder {
						/* Chrome/Opera/Safari */
						color: $bg-color-shade-light;

					}
					
					input::-moz-placeholder {
						/* Firefox 19+ */
						color: $bg-color-shade-light;
					}
					
					input:-ms-input-placeholder {
						/* IE 10+ */
						color: $bg-color-shade-light;
					}
					
					input:-moz-placeholder {
						/* Firefox 18- */
						color: $bg-color-shade-light;
					}
				}

				.course-input-create-form--show, .assignment-input-create-form--show {
					display: flex;
				}
			}

			.assignment-section__assignment--disabled, .assignment-section__assignment--disabled {
				pointer-events: none;
				p {
					color: $bg-color-shade-light;
				}
				input {
					background-color: $bg-color-shade-dark;
				}
				input::-webkit-input-placeholder {
					/* Chrome/Opera/Safari */
					color: $bg-color-shade-light;
				}
				
				input::-moz-placeholder {
					/* Firefox 19+ */
					color: $bg-color-shade-light;
				}
				
				input:-ms-input-placeholder {
					/* IE 10+ */
					color: $bg-color-shade-light;
				}
				
				input:-moz-placeholder {
					/* Firefox 18- */
					color: $bg-color-shade-light;
				}
			}
		}
		.post-form-container__url-section {

			.label {
				grid-column: span 4;
			}
			.input-container {
				grid-column: span 2;
			}
		}

		.post-form-container__pictures-section {
		}
		.post-form-container__assignment-section, .post-form-container__url-section, .post-form-container__pictures-section {
			margin-bottom: 40px;
			grid-column: span 6;
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			column-gap: 20px;
		}
	}
	.aside-container {
		grid-column: span 2;
		margin-top: 10px;
	}

	.aside-container--top {
		display: none;	
	}

	.aside-container--right {
		display: block;
	}
}

// small screen
@media only screen and (min-width : $breakpoint-xsm) and (max-width : $breakpoint) {
	.page__new-post {
		.post-form-container {
			grid-column: span 6;

			.post-form-container__assignment-section {
				.assignment-section__course, .assignment-section__assignment {
					grid-column: span 6;
				}
			}
		}

		.post-form-container__url-section {
			.input-container {
				grid-column: span 4!important;
			}
		}
		.post-form-container__url-section {
			grid-column: span 4;
		}
		.aside-container--top {
			display: block;
			grid-column: span 6;
		}
	
		.aside-container--right {
			display: none;
		}
	}	
}


// extra small screen
@media only screen and (max-width : $breakpoint-xsm) {
	.page__new-post {
		.post-form-container {
			grid-column: span 6;

			.post-form-container__assignment-section {
				.assignment-section__course, .assignment-section__assignment, .post-form-container__url-section {
					grid-column: span 6;
				}
			}
		}

		.post-form-container__url-section {
			.input-container {
				grid-column: span 4 !important;
			}
		}
		.aside-container--top {
			display: block;
			grid-column: span 6;
		}
	
		.aside-container--right {
			display: none;
		}
	}
}