@import '../../variables.scss';

.page__post {
	grid-column: span 6;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	column-gap: 20px;

	.post-container {
		grid-column: span 4;

		.page-title {
			margin-top: 10px;
		}

		.post-container__assignment-description {
			margin: 40px 0;
		}

		.post-container__feedback-container {
			.feedback-container__like {
				display: flex;
				align-items: center;
				justify-content: center;

				.like-number {
					font-size: 40px;
					color: $secondary-color;
				}
			}

			.feedback-container__feedback {
				.feedback__comments {
					width: 70%;
					margin: 30px auto;
				}

				.feedback__input-container {
					display: flex;
					justify-content: center;

					.feedback__input {
						display: flex;
						padding: 10px;
						background-color: $bg-color-shade-dark;
						width: 70%;
						border-radius: $radius-lg;
						box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

						input {
							background-color: transparent;
							border: none;
							width: 100%;
							color: $white;
							font-family: 'Poppins';
						}

						button {
							background-color: transparent;
							border: none;
							cursor: pointer;
							color: $primary-color;
						}
					}
				}

			}
		}
	}

	.aside-container {
		grid-column: span 2;
		margin-top: 10px;

		.remove-post {
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: $bg-color-shade-light;
			margin: 20px 0;
			padding: 10px 20px;
			border-radius: $radius-lg;

			img {
				width: 20px;
			}
		}

		.remove-post:hover {
			cursor: pointer;
			background-color: $bg-color-shade-dark;
		}
	}

	.aside-container--top {
		display: none;
	}

	.aside-container--right {
		display: block;
	}
}

// small screen
@media only screen and (min-width : $breakpoint-xsm) and (max-width : $breakpoint) {
	.page__post {
		.post-container {
			grid-column: span 6;
		}

		.post-container__feedback-container {
			.feedback-container__feedback {
				.feedback__comments {
					width: 100% !important;
				}

				.feedback__input-container {
					.feedback__input {
						width: 100% !important;
					}
				}
			}
		}

		.aside-container--top {
			display: block;
			grid-column: span 6;
		}

		.aside-container--right {
			display: none;
		}
	}
}


// extra small screen
@media only screen and (max-width : $breakpoint-xsm) {
	.page__post {
		.post-container {
			grid-column: span 6;
		}

		.post-container__feedback-container {
			.feedback-container__feedback {
				.feedback__comments {
					width: 100% !important;
				}

				.feedback__input-container {
					.feedback__input {
						width: 100% !important;
					}
				}
			}
		}

		.post-container {
			grid-column: span 6;
		}

		.aside-container--top {
			display: block;
			grid-column: span 6;
		}

		.aside-container--right {
			display: none;
		}
	}
}