@import '../../variables.scss';

.page__profile {
	grid-column: span 6;
    display: grid;
	grid-template-columns: repeat(6, 1fr);
	column-gap: 20px;

	.profile-container {
		grid-column: span 4;
	}
	
	.aside-container {
		grid-column: span 2;
		margin-top: 10px;
	}

	.aside-container--top {
		display: none;	
	}

	.aside-container--right {
		display: block;
	}
}

// small screen
@media only screen and (min-width : $breakpoint-xsm) and (max-width : $breakpoint) {
	.page__profile {
		.profile-container {
			
		}
		.aside-container--top {
			display: block;
			grid-column: span 6;
		}
	
		.aside-container--right {
			display: none;
		}
	}	
}


// extra small screen
@media only screen and (max-width : $breakpoint-xsm) {
	.page__profile {
		.profile-container {
			
		}
		.aside-container--top {
			display: block;
			grid-column: span 6;
		}
	
		.aside-container--right {
			display: none;
		}
	}	
}