@import '../../variables.scss';

.page__signup,
.page__signin {
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: $bg-color-shade-dark;
    border-radius: $radius-lg;
    padding: 20px;
    margin: auto 0;
    display: flex;
    flex-direction: column;

    input:focus {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
        transition: box-shadow 0.1s ease-in;
    }

    .logo {
        text-align: center;
    }

    .signup__title {
        margin: 20px 0;
    }

    .signup__button-container,
    .signin__button-container {
        width: 100%;
        margin: 30px 0;

        button {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

// small screen
@media only screen and (min-width : $breakpoint-xsm) and (max-width : $breakpoint) {
    .page__signup,
    .page__signin {
		background-color:transparent;
		margin: auto 40px;
        grid-column-start: 1;
        grid-column-end: 7;
        border-radius: $radius-sm;

    }
}


// extra small screen
@media only screen and (max-width : $breakpoint-xsm) {
    .page__signup,
    .page__signin {
		background-color:transparent;
		margin: auto 40px;
        grid-column-start: 1;
        grid-column-end: 7;
        border-radius: $radius-sm;

    }
}