@import './variables.scss';

// CSS RESET
* {
    box-sizing: border-box;
}

p, h2 {
    margin: 0;
	font-weight: 300;
	color:$white;
}

a {
	text-decoration: none;
}

textarea:focus,
input:focus {
    outline: none;
}

// GLOBAL STYLING

body {
    margin: 0;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $bg-color;
}

.page {
    margin: 0 auto;
    width: 33vw;
    max-width: $max-page-width;
    min-width: $min-page-width-lg;
	grid-column-start: 2;
}

.page__main {
    display: grid;
	grid-template-columns: repeat(6, 1fr);
	column-gap: normal;
	
}

.page__main--full-screen  {
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

// medium screen
@media only screen and (min-width : $breakpoint) and (max-width : $breakpoint-md) {
	.page {
        min-width: $min-page-width-md;
        max-width: $min-page-width-md;
    }
}

// small screen
@media only screen and (min-width : $breakpoint-xsm) and (max-width : $breakpoint) {
	.page {
        min-width: $min-page-width-sm;
        max-width: $min-page-width-sm;
    }
}

// extra small screen
@media only screen and (max-width : $breakpoint-xsm) {
	.page {
        min-width: $min-page-width-sm;
        max-width: $min-page-width-sm;
    }
}
