@import './variables.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
	margin: 0 auto;
	width: 33vw;
	max-width: var(--max-page-width);
	min-width: var(--min-page-width-lg);
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-column-start: 2;
	background-color: green;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

// small screen
@media only screen and (max-width : var(--max-page-width)) {
	.page {
		min-width: var(--min-page-width-sm);
	}
}

// medium screen

// large screen
