@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&family=Poppins:wght@300;400;500;600&display=swap');

:root {
	--bg-color: #1C2440;
	--bg-color-shade-light: #3F4765; 
	--bg-color-shade-dark: #262D48; 
	--primary-color: #60F1FB;
	--primary-color-shade-light: #C7FCFF;
	--primary-color-shade-dark: #00767D;
	--secondary-color: #B3A23B;
	--white: #ECF0FF;
	--white-shade: #7D849C;

	--max-page-width: 1000px;
	--min-page-width-lg: 1000px;
	--min-page-width-sm: 100vw;
	--breakpoint: 468;

	--font-family-logo: 'Nova Mono';
	--font-family-page-title: 'Poppins';
	--font-family-placeholder: 'Poppins';
	--font-family-buttons: 'Poppins';

	--font-size-page-title-lg: 48px;
	--font-size-logo-lg: 24px;
	--font-size-logo-md: 36px;
	--font-size-small-lg: 14px;
	--font-size-primary-button-lg: 18px;
	--font-size-secondary-button-lg: 14px;

	--radius-lg: 10px;
}