<!DOCTYPE html>
<html lang="nl-be">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MERN-stack Boilerplate | New Media Development | Artevelde University of Applied Sciences</title>
    <link rel="stylesheet" href="css/app.css">
</head>
<body class="page--home">
   
	<script>
		const token = `<%= token %>`;
		localStorage.setItem('mern:authUser', "sss");
		window.location.href="http://localhost:3000/"
	</script>
</body>
</html>