@import '../../../variables.scss';

.page-title {
	color: $white;
	font-family: $font-family-page-title;
	font-weight: 400;
	font-size: $font-size-page-title-lg;
	margin: 0;
}

.error-field {
	color: $secondary-color;
	font-size: $font-size-small-lg;
	display: none;
}


.error-field--show {
	display: inline;
}

.kop-titel {
	font-family: $font-family-h2;
	font-size: $font-size-h2-lg;
	color: $white;
	text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
	margin-bottom: 10px;
}

.tussen-titel {
	font-size: $font-size-h3-lg;
	font-weight: 300;
	color: $secondary-color;
}

.label {
	font-size: $font-size-label-lg;
}

.card-info {
	font-size: $font-size-card-info;
	font-weight: 200;
	color: $white-shade;
	span {
		color: $primary-color;
	}
}


// small screen
@media only screen and (min-width : $breakpoint-xsm) and (max-width : $breakpoint) {
    .page-title {
		font-size: $font-size-page-title-lg;
	}
	
	.error-field {
	}
	
	
	.error-field--show {
	}
}

// extra small screen
@media only screen and (max-width : $breakpoint-xsm) {
    .page-title {
		font-size: $font-size-page-title-xsm;
	}
	
	.error-field {
	}
	
	
	.error-field--show {
	}
}