.page-title {
	color: var(--white);
	font-family: var(--font-family-page-title);
	font-weight: 400;
	font-size: var(--font-size-page-title-lg);
	margin: 0;
}

.error-field {
	color: var(--secondary-color);
	font-size: var(--font-size-small-lg);
	display: none;
}


.error-field--show {
	display: inline;
}